@font-face {
    font-family: 'Poppins-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/assets/fonts/Poppins-Regular.woff') format('woff'),
    url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/assets/fonts/Poppins-Bold.woff') format('woff'),
    url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

body, html {
    width: 100%;
    height: 100%;

    margin: 0;
    font-family: 'Poppins-Regular', sans-serif;
    background: rgb(235, 230, 230);
}

/* HEADER */
.header {
    width: 100%;
    height: 250px;

    background: #bf2222;
    text-align: center;
}
.header h1,
.header h3 {
    font-size: 2rem;
    color: white;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Poppins-Bold', sans-serif;
}
.header h1 {
    font-size: 5rem;
    padding-top: calc((250px / 2) - 5rem);
}
.line {
    width: 100%;
    height: 10px;

    background: white;
}

/* BLOCS */
.blocs {
    width: 70%;

    margin: 30px auto;
    text-align: center;
    color: white;
    z-index: 1;
}
.blocs h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    text-shadow: 1px 1px 20px #000000;
}

/* ARTICLE */
article {
    display: inline-block;
    margin: 20px 20px;
    z-index: 1;
}
article:hover {
    cursor: pointer;
}
article img {
    width: 200px;

    border-radius: 100%;
    border: 8px solid #bf2222;
}

/*
    Les Deux premiers articles
*/
.teach{
    border-radius: 100%;
    border: 8px solid #96187b;
}


/* --  PAGE PROFILE -- */
/* BLOC */
.bloc {
    width: 100%;
    height: auto;

    margin-top: -125px;
    padding: 80px 0;
    background: aliceblue;
    color: #000000;
}

.bloc h2 {
    margin-top: 2rem;
}

/* -- img des stagiaires --*/
.students {
    border: 8px solid #bf2222;
}

/* -- Détails fiches -- */
.nobull {
    width: 50%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.nobull li {
    width: 100%;
    display: inline-block;
    margin: .5rem;
    font-size: 1rem;
}
ul.nobull li img {
    width: 100%;
    margin-left: -17px;
}
.characteristics,
.Skills {
    margin: 3rem auto;
}
.characteristics h3,
.Skills h3 {
    width: 15rem;
    
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    opacity: 1;
    background-color: #bf2222;
    justify-content: center;
    box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
}

/* -- Caractéristiques et Compétences des Facilitateurs --*/
.Tcharacteristics,
.TSkills {
    margin: 3rem auto;
}
.Tcharacteristics h3,
.TSkills h3 {
    width: 15rem;
    
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    opacity: 1;
    background-color: #96187b;
    justify-content: center;
    box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
}

/*
Bouton de retour - Page Profile
*/
#BackBTN {
    width: 100px;
    height: auto;
    
    float: right;
    margin: -40px 10px 0 0;
    background-color: #bf2222;
    border-radius: 0.6rem;
    color: white;
    padding: 2.5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins-Bold';
    transition: 0.5s;
    box-shadow: 10px 10px 26px -9px rgba(0,0,0,1);
}
#BackBTN:hover {
    transition: 0.5s;
    background-color: #a71515;
}

/* -- Bouton de retour - Page Profile des facilitateurs -- */
#TBackBTN {
    width: 100px;
    height: auto;
    
    float: right;
    margin: -40px 10px 0 0;
    background-color: #96187b;
    border-radius: 0.6rem;
    color: white;
    padding: 2.5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins-Bold';
    transition: 0.5s;
    box-shadow: 10px 10px 26px -9px rgba(0,0,0,1);
}
#TBackBTN:hover {
    transition: 0.5s;
    background-color: #49053a;
}

/* MEDIA - RESPONSIVE */
@media screen and (min-width: 1600px) {
    .blocs {
      width: 1100px;
    }
}
@media screen and (min-width: 450px) and (max-width: 720px) {
    .header h1 {
        font-size: 3rem;
        padding-top: calc((250px / 2) - 3rem);
    }
}
@media screen and (max-width: 450px) {
    .header h1 {
        font-size: 2rem;
        padding-top: calc((250px / 2) - 2rem);
    }
    .header h3 {
        font-size: 1.5rem;
    }
    article img {
        width: 150px;
    }
    .blocs h1 {
        font-size: 1.5rem;
    }
}

/*Ajouter mention légales */ 